<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./style.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        <title>Amazone SaiYann</title>
    </head>
    <body>
        <div class="grid-container">
            <header class="rowFlexJustify">
                <div>
                    <a class="brand" href="index.html">Amazone SaiYann</a>
                </div>
                <div>
                    <a href="cart.html">Cart</a>
                    <a href="signin.html">Sing In</a>
                </div>
            </header>
            <main>
                <div class="rowFlexJustify center">
                    <div class="card">
                        <a href="productl.html">
                            <!-- image size scale: 680px x 830px -->
                            <img class="medium" src="./images/p1.jpg" alt="product"/>
                        </a>
                        <div class="card__Body rating">
                            <a href="prdocut.html">
                                <h2>Nike slim Shirt</h2>
                            </a>
                            <div class="rating">
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star-halfo"></i></span>
                                <span><i class="fa fa-star-o"></i></span>
                            </div>
                            <div class="price">€120</div>
                        </div>
                        
                    </div>
                    <div class="card">
                        <a href="productl.html">
                            <!-- image size scale: 680px x 830px -->
                            <img class="medium" src="./images/p1.jpg" alt="product"/>
                        </a>
                        <div class="card__Body rating">
                            <a href="prdocut.html">
                                <h2>Nike slim Shirt</h2>
                            </a>
                            <div class="rating">
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                            </div>
                            <div class="price">€120</div>
                        </div>
                        
                    </div>
                    <div class="card">
                        <a href="productl.html">
                            <!-- image size scale: 680px x 830px -->
                            <img class="medium" src="./images/p1.jpg" alt="product"/>
                        </a>
                        <div class="card__Body rating">
                            <a href="prdocut.html">
                                <h2>Nike slim Shirt</h2>
                            </a>
                            <div class="rating">
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                            </div>
                            <div class="price">€120</div>
                        </div>
                        
                    </div>
                    <div class="card">
                        <a href="productl.html">
                            <!-- image size scale: 680px x 830px -->
                            <img class="medium" src="./images/p1.jpg" alt="product"/>
                        </a>
                        <div class="card__Body rating">
                            <a href="prdocut.html">
                                <h2>Nike slim Shirt</h2>
                            </a>
                            <div class="rating">
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                            </div>
                            <div class="price">€120</div>
                        </div>
                        
                    </div>
                    <div class="card">
                        <a href="productl.html">
                            <!-- image size scale: 680px x 830px -->
                            <img class="medium" src="./images/p1.jpg" alt="product"/>
                        </a>
                        <div class="card__Body rating">
                            <a href="prdocut.html">
                                <h2>Nike slim Shirt</h2>
                            </a>
                            <div class="rating">
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                            </div>
                            <div class="price">€120</div>
                        </div>
                        
                    </div>
                    <div class="card">
                        <a href="productl.html">
                            <!-- image size scale: 680px x 830px -->
                            <img class="medium" src="./images/p1.jpg" alt="product"/>
                        </a>
                        <div class="card__Body rating">
                            <a href="prdocut.html">
                                <h2>Nike slim Shirt</h2>
                            </a>
                            <div class="rating">
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                            </div>
                            <div class="price">€120</div>
                        </div>
                        
                    </div>
                </div>
            </main>
            <footer class="rowFlexJustify center">
                <p>All right reserved</p>
            </footer >
        </div>
    </body>
</html>