html {
  /* setting the ratio between px and rem to 1/10 => 1rem = 10px */
  /* browser defautl font size is 16px */
  /*  16px x 62.5% = 10px => 1 rem */
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  /* setting hight to full hight : height: 100vh;*/
  height: 100vh;
  /* we want font to be default 16px so 1.6rem */
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%
}

/* layout */

.grid-container {
  display: grid;
  grid-template-areas:
      'header'
      'main'
      'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%
}

header {
  /* liking the header area to the grid template set-up */
  grid-area: header;
  background-color: #203040;
}

main {
  grid-area: main;
  padding: 1rem;
}

footer {
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
}

/* Common Style rules */

a {
  text-decoration: none;
}

a:hover {
  color: #ff8000;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  margin-top: 1rem;
}

input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem solid gray;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button{
  background-color: #f8f8f8;
  cursor: pointer;
}


input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.1rem black solid;
}

button.primary {
  background-color: #f0c040;
}

button.block {
  width: 100%;
}
/* Header */

header a  {
  color: #ffffff;
  padding: 1rem;
}

a.brand {
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
}

.rowFlexJustify {
  display: flex;
  /* we wnat the items to be one under the other in case of nt enought width (responsive behavior) */
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.rowFlexJustify.center {
  justify-content: center;
}


/* ProductPage */

.rowFlexJustify.rowTop {
  /* Getting itmes in column form centered to Top 0 / Right 0 */
  align-items: flex-start;
}

.col-1 {
  /* first 1: col-1 (productInfo and add to card area of ProductPage) occupy 1 of 4 - second 1: for it s shrinkable 25rem  */
  flex: 1 1 25rem
}

.col-2 {
  flex: 2 1 50rem
}



/* Images */

img { 
  border-radius: 0.5rem;
}

img.medium {
  max-width: 29rem;
  width: 100%;
}

img.large {
  width: 100%;
}

/* Card */

.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
}

.card__Body {
  padding: 1rem;
}

.card__Body > * {
  /* creating space between items */
  margin-bottom: 0.5rem;
}

.price {
  font-size: 2rem;
}

/* Ratings */

.rating span {
  color: #f0C040;
  margin: 0.1;
}

.rating span:last-child {
  color: #404040;
  margin-left: 0.5rem;
}

/* Alerts */

.inStock {
  color: rgb(64, 196, 52);
  font-weight: 700;
}

/* .noStock {
  color: purple;
  font-weight: 700;
} */
/* .nostock is replaced by .danger as established variant */
.danger {
  color: purple;
  font-weight: 700;
}

.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}

.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}

/* cause we use varaint="danger in MessageBox alert-error class is changed alert-variant */
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}